<main-header></main-header>

<section class="container main-container">
    <aside class="side-bar">
        <nav>
            <ul>
                <li class="item-level-1">
                    <button>
                        <span>Accessible Forms</span>
                        <img class="baby" src="/images/plus.svg">
                    </button>
                    <ul>
                        <li class="item-level-2">
                            <a routerLink="/text-inputs">Text inputs</a>
                        </li>
                        <li class="item-level-2">
                            <a routerLink="/text-areas">Textareas</a>
                        </li>
                        <li class="item-level-2">
                            <a routerLink="/check-boxes">Checkboxes</a>
                        </li>
                        <li class="item-level-2">
                            <a routerLink="/radio-buttons">Radio buttons</a>
                        </li>
                        <li class="item-level-2">
                            <a routerLink="/select-menus">Select menus</a>
                        </li>
                    </ul>
                </li>
                <li class="item-level-1">
                    <button>Test</button>
                    <!-- <ul>
                        <li class="item-level-2">
                            <a routerLink="/">Test</a>
                        </li>
                    </ul> -->
                </li>
                <li class="item-level-1">
                    <button>Test</button>
                    <!-- <ul>
                        <li class="item-level-2">
                            <a routerLink="/">Test</a>
                        </li>
                    </ul> -->
                </li>
                <li class="item-level-1">
                    <button>Test</button>
                    <!-- <ul>
                        <li class="item-level-2">
                            <a routerLink="/">Test</a>
                        </li>
                    </ul> -->
                </li>
                <li class="item-level-1">
                    <button>Test</button>
                   <!-- <ul>
                        <li class="item-level-2">
                            <a routerLink="/">Test</a>
                        </li>
                    </ul> -->
                </li>
                <li class="item-level-1">
                    <button>Test</button>
                    <!-- <ul>
                        <li class="item-level-2">
                            <a routerLink="/">Test</a>
                        </li>
                    </ul> -->
                </li>
            </ul>
        </nav>
    </aside>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</section>
