/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  height: 100%;
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
.body {
    height: 100%;
    color: #cfd2da;
    background-color: #252830;
}

/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  font-size: 1rem;
}

.header {
  height: 50px;
  background-color: #434857;

  h1 {
    padding-left: 20px;
    line-height: 50px;
    font-size: 2rem;
  }
}

.ribbon {
  position: absolute;
  height: 10px;
  width: 100%;;
  background-color: #95c11f;
  opacity: 0.5;
  z-index: 2;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;

  .side-bar {
    flex: 1;
    flex-flow: column;
    height: 100%;
    padding: 30px 20px;
    background-color: #353535;

    nav {
      height: auto;
    
      ul {
        list-style: none;

        .item-level-1 {
          height: auto;
          margin-bottom: 2px;

          button {
            position: relative;
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
            margin-bottom: 1px;
            color: #000000;
            background-color: #95c11f;
            text-align: left;
            border: none;

            &:hover {
              color: #000000;
              background-color: #95c11f;
            }

            img {
              width: 10px;
              height: 50px;
              position: absolute;
              right: 10px;
            }
          }

          .item-level-2 {
            height: 50px;
            margin-bottom: 2px;
            background-color: #cedbab;

            &:hover {
              background-color: #95c11f;
            }

            a {
              width: 100%;
              line-height: 50px;
              padding-left: 40px;
              color: #000000;
              text-decoration: none;

              &:hover, &:visited {
                color: #000000;
              }
            }
          }
        }
      }
    }
  }

  .content {
    flex: 3;
    padding: 40px;
  }
}
